/* Stylesheet */
body {
	background: url(../img/bg.png);
}

p, h3 {
	font-family: 'Open Sans Condensed', sans-serif;
}

h3 {
	text-transform: uppercase; 
}

/*NAv style*/

li {
  float: left;
  line-height: 50px;
  list-style: none;
	margin: 0 5px;
  text-align: right;
  
}

a {
  color: #fff;
  display: block;
  height: 50px;
  width: 150px;
  padding: 0 10px 0 0;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover {
  background: 
}

.showgrid {
	background: url("../img/12-col-grid.gif") !important;
}